Source: disper
Section: utils
Priority: optional
Maintainer: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Uploaders: Vincent Cheng <vcheng@debian.org>
Build-Depends: debhelper (>= 9), python (>= 2.6.6-3~)
Standards-Version: 3.9.6
X-Python-Version: >= 2.3
Homepage: http://willem.engen.nl/projects/disper/
Vcs-Git: https://salsa.debian.org/python-team/applications/disper.git
Vcs-Browser: https://salsa.debian.org/python-team/applications/disper

Package: disper
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, libxrandr2, libx11-6
Recommends: libnotify-bin
Description: display switcher for attaching/detaching displays easily
 No more headaches just before your presentation. Disper lets you add and
 remove display devices at the press of a button.  It detects what display
 devices are attached at the moment, and configures the display output
 automatically. You can specify whether to clone the output on all displays,
 or to extend the desktop.
